# Perl-specific ignores
/blib
/pm_to_blib
/_build/
/Build
/cover_db/
*.o
*.so
*.pm.tdy
*.bs

# Editor files
*.swp
*.swo
*~

# Other
*.tar.gz
*.zip
*.bak

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini
