
  .bottom-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
  }


  .sidebar {
    width: 100%;
    /*background-color: #5c1b1b;*/
    color: white;
    overflow-y: auto;
    flex-shrink: 0;
  }


  .header-bar { 
    /*background-color: #5c1b1b;*/
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .menu-items * {
    color: #FDE047;
  }

  .logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .header-bar a:link {
    color: white;
    text-decoration: none;
  }
  
  .header-bar a:visited {
    color: white;  
    text-decoration: none;
  }
  
  .header-bar a:hover {
    color: #FDE047;
    text-decoration: none;
  }
  
  .header-bar a:active {
    color: #FDE047;
    text-decoration: none;
  }

  .user-info {
    margin-top: auto;
    margin-left: 4px;
    text-align: left;
    color: white;
  }

