
body {font-family:Geneva, Arial, Helvetica, sans-serif; font-size:13px;} 

table {border-collapse:collapse;}

th, td {border:1px solid grey; padding:3px;}

th {font-size:13px; font-weight:bold; background-color:#EEEEEE;}
td {font-size:13px;}

a:link {color:#0000FF; text-decoration:none;}
a:visited {color:#0000FF; text-decoration:none;}
a:hover {color:#FF0000; text-decoration:none;}


